{% extends 'layout.html' %}

{% block content %}

<div class="col-md-4">
    <div class="card mb-4">
        <div class="card-header">
            <h5>Ara</h5>
        </div>
        <div class="card-body">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for ...">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary">Git!</button>
                </span>
            </div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h5>Kategori</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <ul class="list-unstyled">
                        <li> <a href="/article?desc=Gezi">Gezi</a></li>


                        <li><a href="/article?desc=Yemek">Yemek</a></li>
                        <li><a href="/article?desc=Film">Film</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li> <a href="/article?desc=Tiyatro">Tiyatro</a> </li>
                        <li><a href="/article?desc=Müzik">Müzik</a></li>
                        <li><a href="/article?desc=Kitap">Kitap</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    
</div>

{% endblock %}